
h1{
    color: crimson;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border: 20cm;
    padding: auto;
    margin: auto;

}
p{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
}
b{
    color: brown;
}
strong{
    color: brown;
}
i{
    color:rgb(0, 0, 255);
}
body{
    text-align: justify;
    background-image: url(png/bg1.jpeg);
    background-size: auto;
}
h4{
    color: blue;
}


